.backgrnd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 700px;
  padding-left: 100px;
}
/* .backgrnd3 {
  width: 140px;
} */
.card {
  
  max-width: 350px;
  height: 400px;
  margin: auto;
  padding-left: 11px;
  padding-right: 11px;
  text-align: center;
  font-family: arial;
}


.lijn {
  align-items: flex-end;
  align-self: flex-end;
  height: 10px;
  background-image: linear-gradient(to right, #4713cb, #3d3ad4, #3a52da, #4067dd, #4f7add, #6b8adf, #839ae1, #99aae3, #b7beea, #d1d2f0, #e9e8f7, #ffffff);
  width: 700px;
  position: absolute;
  
  border-color: #3f3f41;
  border-top: 4px;
  border-radius: 12px;
  margin-left: -145px;
  margin-bottom: 140px;
}

.price {
  color: grey;
  font-size: 18px;
  text-align: center;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

/* @media (max-width: 1810px) {
  .backgrnd {
    margin-right: none;
    
    width: 1810px;
    padding-left: 0px;
  }
} */