.footer {
  background-image: linear-gradient(to left, #4a06ad, #511dab, #572ca9, #5d38a7, #6343a4, #6645a9, #6847ad, #6b49b2, #6c42bf, #6e3acc, #702fd8, #721fe4);
  margin: 100px 0 40px;
  text-align: center;
  height: 790px;
  display: flex;
  justify-content: space-between;
}

.block {
  
  align-content: center;
  height: 360px;
  width: 330px;
  background-color: white;
  margin-left: 20px;
}
.block200 {
  display: flex;
  justify-content: space-between;
}
.block2 {
  align-content: center;
  height: 360px;
  width: 330px;
  background-color: white;
  margin-left: 20px;
}
/* .card3 {
  height: 300px;
} */
.icon {
  width: 40px;
  height: 40px;
}
.footer p {
  margin: 5px 0;
}