.footer {
  background-image: white;
  margin: 100px 190px 40px;
  text-align: center;
  height: 260px;
  display: flex;
  justify-content: flex-end;
  gap: 3px;
  

}
.achtergrond {
  width: 1421px;
  margin-right: -190px;
  background-image: linear-gradient(to bottom, #766bd1, #8e86db, #a6a1e5, #bfbced, #d9d8f5, #d9d8f5, #d9d8f5, #d9d8f5, #bfbced, #a6a1e5, #8e86db, #766bd1);
  /* clip-path: polygon(0 100%, 100% 100%, 100% 37%, 0 52%); */
  /* clip-path: polygon(24% 41%, 0 54%, 0 100%, 100% 100%, 100% 44%, 74% 60%, 45% 57%); */
  clip-path: polygon(26% 23%, 0 32%, 0 100%, 100% 100%, 100% 35%, 72% 48%, 43% 41%);
}



/* .block {
  padding-top: 40px;
  margin-top: 120px;
  align-content: center;
  height: 260px;
  width: 230px;
  background-color: white;
  margin-left: 20px;
  border-radius: 2px 2px 2px 2px;
  overflow: hidden;
  border-color: rgb(130, 249, 119);
  box-shadow: 0px 2px 8px 0px #3f3f41;
}
.block200 {
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
} */
.paragraf9 { 
  /* color: white; */
  margin-left: 180px;
  
}
.paragraf5 {
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  
}
.paragraf7 {
  float: inline-start;
  margin-left: 90px;
  
}


.lijn {
  align-items: flex-start;
  height: 10px;
  background-image: linear-gradient(to right, #4713cb, #3d3ad4, #3a52da, #4067dd, #4f7add, #6b8adf, #839ae1, #99aae3, #b7beea, #d1d2f0, #e9e8f7, #ffffff);
  width: 800px;
  margin-top: 150px;
  border-color: #3f3f41;
  border-top: 4px;
  border-radius: 12px;
  margin-left: -5px;
}
.image {
  background-image: url('/public/bvbo_1.jpg');
}
.block2 {
  padding-top: 40px;
  margin-top: 120px;
  align-content: center;
  height: 260px;
  width: 230px;
  background-color: white;
  margin-left: 20px;
  border-radius: 2px 2px 2px 2px;
  overflow: hidden;
  border-color: rgb(130, 249, 119);
  box-shadow: 0px 2px 8px 0px #3f3f41;
}
.hh1 {
  display: flex;
  align-self: flex-start;
  padding-left: 40px;
  margin-left: 40px;
  width: 3000px;
  
}

.ft3 {
  align-self: flex-end;
  width: 1000px;
}
/* .card3 {
  height: 300px;
} */
.icon {
  width: 60px;
  height: 40px;
}
.footer p {
  margin: 5px 0;
}
.paragraf2 {
  display: flex;
  align-items: flex-end;
  padding-top: 0px;
  /* padding-bottom: -40px; */
  height: 130px;
  margin-left: 180px;
}

.paragraf3 {
  text-align: center;
  font-size: medium;
  font-weight: bold;
}