.iceberg {
  clip-path: polygon(0 68%, 0 0, 100% 0, 100% 84%, 81% 78%, 59% 95%, 41% 81%, 26% 79%, 15% 100%);
  background-image: linear-gradient(to bottom, #6c42bf, #6c42bf, #6c42bf, #6c42bf, #6c42bf, #6f44c4, #7147c9, #7449ce, #7a4ed9, #8054e4, #8659f0, #8c5ffb);
  height: 90px;
  display: flex;
  width: 1430px;
  margin-left: -40px;
  margin-top: -40px;
  
}
.container {
  display: flex;
  align-content: center;
  width: 1100px;
  margin-left: 50px;
}
/* align-self: stretch; */
.voorwaarde {
  display: flex;
  align-content: center;
  width: 900px;
  height: 30px;
  padding-top: 40px;
  margin-left: 560px;
}
.formargin {
  display: flex;
  align-self: center;
  margin-top: 40px;
  margin-left: 85px;
}

@media (max-width: 1212px) {
  .iceberg {
    width: 1212px;
  }
}
@media (max-width: 800px) {
  .iceberg {
    width: 800px;
  }
}